<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    <div class="header-top">
        <div class="mdl-layout__header-row">
        </div>
        <div class="mdl-layout__header-row">
            <h3>College Crime Statistics</h3>
        </div>
        <div class="mdl-layout__header-row">
        </div>
    </div>
    <md-content class="mdl-color--secondary">
        <md-nav-bar md-selected-nav-item="currentPage" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="/" name="home">Home</md-nav-item>
            <md-nav-item md-nav-href="/statsfinder" name="statsfinder">Statistics Calculator</md-nav-item>
            <md-nav-item md-nav-href="/about" name="about">About</md-nav-item>
        </md-nav-bar>
    </md-content>
    <!--<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color&#45;&#45;secondary">-->
        <!--<a href="/" class="mdl-layout__tab is-active">Home</a>-->
        <!--<a href="/stats" class="mdl-layout__tab">Statistics Calculator</a>-->
        <!--<a href="/about" class="mdl-layout__tab">About</a>-->
    <!--</div>-->
</header>