<main>
    <navbar page="'home'"></navbar>
    <div class="mdl-layout__tab-panel is-active" id="overview">

        <div class="subheader">
            <h4>Data Visualization</h4>
        </div>

        <div class="container">
            <form class="inputs" name="dataSelection">
                <div class="mdl-cell mdl--1-col mobile-hide"></div>
                <div class="mdl-cell mdl--4-col crime">
                    <h6 class="crime-search">Select a crime</h6>
                    <md-input-container>
                        <md-select ng-model="formData.crime" placeholder="Select a Crime">
                            <md-option ng-repeat="crime in availableCrimes | orderBy: crime" ng-value="crime">{{ crime }}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div class="mdl-cell mdl--2-col">
                    <div class="arrow">
                        <img src="arrow.png">
                    </div>
                </div>

                <div class="mdl-cell mdl--4-col school">
                    <h6 class="school-search">Search for a school</h6>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <md-autocomplete class="mdl-textfield__input" id="schoolName"
                                         md-selected-item="formData.school"
                                         md-search-text="schoolText"
                                         md-items="item in schoolSearch(schoolText)"
                                         md-item-text="item.name + ' : ' + item.campus"
                                         md-delay="300"
                                         md-floating-label="Search Schools">
                            <div layout="row" class="item" layout-align="start center">
                                <marquee md-highlight-text="schoolText" behavior="scroll" direction="left">{{item.name + " - " + item.campus}}</marquee>
                            </div>
                        </md-autocomplete>
                    </div>
                </div>
                <div class="mdl-cell mdl--1-col mobile-hide"></div>
            </form>
        </div>

        <div class="button-row">
            <button id="addDataset" ng-click="addDataset()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Add Dataset
            </button>
            <button id="refreshGraph" ng-click="drawGraph()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Refresh
            </button>
            <button id="removeDataset" ng-click="clearDatasets()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Clear Data
            </button>
        </div>
        <div class="warning">
            <span ng-show="datasetAdditionError">Please check that you have selected a school and crime.</span>
        </div>

        <div id="graph">
            <md-progress-linear ng-disabled="!drawing" md-mode="indeterminate"></md-progress-linear>
            <canvas id="canvas"></canvas>
        </div>

        <overview></overview>
    </div>
    <foot></foot>
</main>