<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" id="info">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
            <h4>Overview</h4>
            Due to the Clery Act of 1990, all universities must publish a minimum set of crime statistics each year
            - and this web tool allows you to see and interact with this data. The graph is initially set to display the
            reported cases of rape from five of the major universities in Boston. To interact with the
            application, you may select which crime you want to view, then choose your university. The state, city, and
            student population fields will help filter the results available in the school input. If the graph gets stuck,
            simply hit "Refresh" and it will check to make sure it drew all included data.
            <br><br>
            The data is sourced from the US Dept. of Education, and was cleaned and uploaded into a database hosted
            on mLab; the plotting uses ChartJS's javascript library. See the repository's readme for a full list of
            credits. *This is still in beta, so the data may not be 100% accurate, nor will the site be perfect - but
            we're working on it!*
        </div>
        <div class="mdl-card__actions">
            <a href="https://github.com/northcott-j/seeing-clerly" class="mdl-button">View the source code</a>
        </div>
    </div>
</section>