.stats-filter-label {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: rgb(244,67,54);
    color: white;
}

.md-button.md-raised:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.2);
    color: black;
}

.md-button.md-raised[disabled] {
    color : rgba(0, 0, 0, 0.26);
    background-color: transparent;
}

.md-button.md-raised {
    margin-left: 0px;
}